html {
	min-height: 100%;
	position: relative;
 }
 
 body {
	margin: 0 0 60px 0;
    padding: 0;
}
 
 #footer {
 	position: absolute;
 	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #f8f8f8;
	width: 1200px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
 }

  .upload, .login, .uploadimg {
   top: 450px!important;
 }

   .uploadimg, .uploadvid {
   top: 430px!important;
 }

.uk-label {
	background: #000;
}

ul > li.uk-active.uk-first-column > a {
	background-color: #fff;
	border: solid;
	color: #000;
}

form input .checkbox {
	margin-right: 5px;
}